<div class="post">
  <div class="post-image-container">
    <img
      height="25"
      width="25"
      src="https://i.pinimg.com/564x/18/b9/ff/18b9ffb2a8a791d50213a9d595c4dd52.jpg"
    />
  </div>
  <div class="comment-right-part">
    <div class="comment-content">
      <div class="comment-author">{{ post.subject }}</div>
    </div>
    <div class="comment-text">{{ post.text }}</div>
  </div>
  <br><br>
    <div class="comment-actions">
      <div
        *ngIf="canReply"
        class="comment-action"
      ><br>
        *********Reply
      </div>
      <div
        *ngIf="this.currentUserId === this.post.userId"
        class="comment-action"
      >
        Edit
      </div>
      <div
        *ngIf="canDelete"
        class="comment-action"
      >
        Delete
      </div>
    </div>

  </div>

