<!-- ********************USER PERSONAL ACCOUNT PAGE******************** -->
<!-- **********NON-INTERACTIVE INFORMATION********** -->
<div>
  <picture>
    <!-- need to know how to reference the database to invoke the default image -->
    <img
      img
      src="{{ user.profileImg }}"
      alt=""
      style="width: auto"
      height="75"
      width="75"
    />
  </picture>
</div>
<div>
  <p>PLACEHOLDER: basic user profile information</p>
  <h6>{{ user.role }}</h6>
  <h6>{{ user.username }}</h6>
  <h6>{{ user.firstName }} {{ user.lastName }}</h6>
</div>
<hr />
<div>
  <h4>PLACEHOLDER: about me section</h4>
  <p>{{ user.aboutMe }}</p>
</div>
<hr />
<!-- ****************REVIEWS SECTION***************** -->
<div *ngIf="user.role === 'MENTOR'">
  <h4>Bootcamp(s) {{ user.username }} has attended.</h4>
  <!-- iterate over the mentors bootcamps array and populate anchors with it -->
  <div *ngFor="let bootcamp of bootcamps" (click)="showReview()">
    {{ bootcamp.name }}

    <div *ngIf="showReviews">
      <p>PLACEHOLDER: Reviews when bootcamp name is clicked</p>
      <!-- iterate over the mentors bootcamps array and populate anchors with it -->
      <ul *ngFor="let review of bootReviews">
        <li (click)="bootcampAdvice(review.id)">{{ review.bootcampReview }}</li>
        <div *ngIf="advice">
          <p (click)="bootcampTools(advice.id)">
            CLick here for tools {{ advice.title }}
          </p>
        </div>
        <div *ngIf="tools">
          <li *ngFor="let tool of tools">{{ tool.name }}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
<hr />
<!-- <div>
  <br />
  <h4>PLACEHOLDER: mentors posts (accordian)</h4>
  Need iteration over posts made by mentor that have the replies and reviews appended to it. Button functionality to update/delete/reply needs to come with it
  Present each post as an accordian with the subject of the post being the header, in order by most recent to oldest
  <div *ngFor="let post of posts">
    <p>{{ post.text }}</p>
  </div>
</div> -->

<!-- **********Post Replies********** -->
<div></div>
<hr />
<!-- **********UPDATE USER PROFILE********** -->
<button (click)="editUser = user">Update User?</button>
<div *ngIf="editUser">
  <form class="css-form form-control">
    <label for="password">Password</label>
    <input
      class="css-form form-control"
      type="password"
      id="password"
      name="password"
      required
    />

    <button (click)="updateUser(user)">Update</button>
    <button
      (click)="[deleteUser(user.id), routeHomeAfterDelete()]"
      class="btn btn-danger"
    >
      DELETE ACCOUNT
    </button>
    <label for="email">Email</label>
    <input
      class="css-form form-control"
      [(ngModel)]="user.email"
      type="email"
      id="email"
      name="email"
      required
      value="{{ user.email }}"
    /><br />

    <label for="role">Role</label><br />
    <select name="role" class="form-control" [(ngModel)]="user.role">
      <option value="mentor">Mentor</option>
      <option value="mentee">Mentee</option>
    </select>

    <label for="firstName">First Name </label>
    <input
      class="css-form form-control"
      [(ngModel)]="user.firstName"
      type="text"
      id="firstName"
      name="firstName"
      value="{{ user.firstName }}"
    /><br />
    <label for="lastName">Last Name </label>
    <input
      class="css-form form-control"
      [(ngModel)]="user.lastName"
      type="text"
      id="lastName"
      name="lastName"
      value="{{ user.lastName }}"
    /><br />

    <label for="aboutMe">About Me</label>
    <textarea
      class="css-form form-control"
      [(ngModel)]="user.aboutMe"
      type="text"
      id="aboutMe"
      value="{{ user.aboutMe }}"
      name="aboutMe"
      cols="20"
      rows="5"
    ></textarea
    ><br />

    <label for="profileImg">Profile Picture URL</label>
    <input
      class="css-form form-control"
      [(ngModel)]="user.profileImg"
      type="profileImg"
      id="profileImg"
      name="profileImg"
      value="{{ user.profileImg }}"
      required
    /><br />
  </form>
</div>
<hr />
<div>
  <br />
  <h4>Currently Following</h4>
  <ul>
    <li *ngFor="let follow of allFollowers">{{ follow.username }}</li>
  </ul>
</div>

<div>
  <h4>My Followers</h4>
  <ul>
    <li *ngFor="let follow of allFollowing">{{ follow.username }}</li>
  </ul>
</div>



<!-- ********************USER VISITOR ACCOUNT PAGE******************** -->
