.posts {
  margin-top: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}
.create-post{
 text-align: center !important;
}
.deleteLink{
  color: gray;
  text-decoration: underline;
}
.comment-text{
  margin-bottom: 1px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}
.date-created{
  color: gray;
  text-decoration: underline;
  font-size: 12px;
}
.deleteLink-comment{
  font-size: 13px;
  margin-top: 1px !important;
  color: gray;
  text-decoration: underline;
}
.deleteLink-comment:hover{
  color: red;
  cursor: pointer;
}
.commentInput{
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}
.deleteLink:hover{
  color: red;
  cursor: pointer;
}
.detailed-view{
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
  margin-bottom: -10px;
}
.profileLink{
  padding: 1%;
  color: blue;
  text-decoration: underline;
}
.profileLink:hover{
  color: lightblue;
  cursor: pointer;
}

.posts-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.posts-container {
  margin-top: 40px;
  margin: 100px;
  padding: 20px;
  border: solid 1px rgb(0, 0, 0);
}

.post-form-title {
  font-size: 22px;
}
.post-form-subject {
  width: 40%;
  margin-top: 10px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}
.post-form-textarea {
  width: 40%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.post-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.post-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.post-form-cancel-button {
  margin-left: 10px;

}

.post {
  display: flex;
  margin-bottom: 28px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-image-container {
  margin-right: 12px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.comment-image-container img {
  border-radius: 50px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-right-part {
  width: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-content {
  display: flex;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-text {
  font-size: 18px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}

.post-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.post-action {
  margin-right: 8px;
}

.post-action:hover {
  text-decoration: underline;
}
.profile-info {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px;
}

.replies {
  margin-top: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(175, 197, 239) 100.2%
  );
  font-family: 'Anton', sans-serif;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
  margin-inline: -11px;
}
#main-div {
  margin-inline: -15px;
  height: 100.2%;
  background-image:
  radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(1, 34, 99) 105%
  );
  font-family: 'Anton', sans-serif;
  margin-bottom: -10px;
  color: black !important;
  outline-color: white;
  text-shadow: -1px -1px 0 rgb(252, 251, 251), 1px -1px 0 rgb(247, 243, 243), -1px 1px 0 rgb(251, 247, 247),
    1px 1px 0 rgb(247, 244, 244);
  font-weight: bold;
  outline-width: 500px !important;
}

