
<!-- if not selected -->
<div id="main-div" >
  <div *ngIf="!selectedUser">
<form name="makePost" class="text-center create-post">
  <input class="post-form-subject"
    type="text"
    name="subject"
    placeholder="Subject"
    [(ngModel)]="newPost.subject"
  /><br />
  <textarea class="post-form-textarea"
    name="text"
    cols="20"
    rows="5"
    placeholder="Body"
    [(ngModel)]="newPost.text" required
  ></textarea
  ><br />
  <button (click)="createNewPost(newPost)" class="post-form-button">Make Post</button>
</form>



<div *ngFor="let post of posts | slice: (page - 1) * pageSize: page * pageSize; let i = index" class="posts posts-container shadow-lg p-3 mb-5 bg-white rounded" >
  <picture>
    <!-- need to know how to reference the database to invoke the default image -->
    <img class="rounded-circle"
      img
      src="{{ post.userPost?.profileImg }}"
      alt="{{ post.userPost?.username }}"
      style="width: auto"
      height="75"
      width="75"

    />
  </picture>
  <a (click)="setSelectedUser(post.userPost?.username)" class="profileLink">{{post.userPost?.username}}</a> <p class ="date-created">{{post.created | date: 'short'}}</p>
  <h3 class="posts-title">{{ post.subject }}</h3>
  <blockquote class="post-text">{{ post.text }}</blockquote>
  <div *ngIf="post.userPost?.id === user?.id || user?.role === 'ADMIN'">
    <p (click)="deletePost(post.id)" class="deleteLink">Delete Post</p>
  </div>

  <div *ngFor="let comment of post.replies">
    <img class="rounded-circle"
    img
    src="{{ comment.user?.profileImg }}"
    alt="{{ comment.user?.username }}"
    style="width: auto;"
    height="30"
    width="30"
    />
    <a (click)="setSelectedUser(comment.user?.username)" class="profileLink">{{comment.user?.username}}</a>
    <p class="commentText">{{ comment.text }}</p> <p class ="date-created">{{comment.created | date: 'short'}}</p>
    <div *ngIf="comment.user?.id === user?.id || user?.role === 'ADMIN'">
      <p (click)="deleteComment(post.id, comment.id)" class="deleteLink-comment">Delete Comment</p>
    </div>
  </div>
  <form *ngIf="user" class="text-center">
    <br />
    <input class="commentInput"
    type="text"
    name="text"
    placeholder="Comment"
    [(ngModel)]="newPostReplies[i].text"
    /><br />
    <button (click)="createNewComment(newPostReplies[i], post.id)" class="post-form-button">Comment</button>
  </form>

</div>
<div class="container">
  <div class="row">
  <div class="col-5"></div>
  <div class="col-sm">
<ngb-pagination [collectionSize]="posts.length" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>
</div>
<div class="col-sm"></div>
</div>
</div>

</div>
<!-- if selected -->
<div *ngIf="selectedUser">
<!-- ********************USER PERSONAL ACCOUNT PAGE******************** -->
<!-- **********NON-INTERACTIVE INFORMATION********** -->
<div class="profile-info">
  <button (click)="selectedUser = null" class="btn btn-info">BACK</button><br><br>
  <div *ngIf="!isFollowing">
    <button class="text-center btn btn-success" (click)="followMe(selectedUser)">Follow</button>
  </div>
  <div *ngIf="isFollowing">
    <button class="text-center btn btn-danger" (click)="unFollowMe(selectedUser)">Unfollow</button>
  </div>
<div>
  <picture>
    <!-- need to know how to reference the database to invoke the default image -->
    <img
      class="center"
      img
      src="{{ selectedUser.profileImg }}"
      alt=""
      style="width: auto;"
      height="75"
      width="75"
    />
  </picture>
<div class= "text-center">
  <p>PLACEHOLDER: basic user profile information</p>
  <h6>{{ selectedUser.role }}</h6>
  <h6>{{ selectedUser.username }}</h6>
  <h6>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</h6>
</div>
<hr />
<div>
  <h4 class="text-center"><u>About Me</u></h4>
  <p>{{ selectedUser.aboutMe }}</p>
</div>
</div>
<hr />

<!-- ****************REVIEWS SECTION***************** -->
<div *ngIf="selectedUser.role === 'MENTOR'">
  <h4>Bootcamp {{ selectedUser.username }} has attended.</h4>
  <!-- iterate over the mentors bootcamps array and populate anchors with it -->
  <div *ngFor="let bootcamp of bootcamps">
   <u  style="color: blue;"> {{ bootcamp.name }} </u>

    <div>
      <p>PLACEHOLDER: Reviews when bootcamp name is clicked</p>
      <!-- iterate over the mentors bootcamps array and populate anchors with it -->
      <ul style="list-style: none" *ngFor="let review of bootReviews">
        <li (click)="bootcampAdvice(review.id)">{{ review.bootcampReview }}</li>
        <div *ngIf="advice">
          <p (click)="bootcampTools(advice.id)">
            CLick here for tools {{selectedUser.firstName}} Recomends. <br>{{ advice.advice }}
          </p>
        </div>
        <div *ngIf="tools">
          <li *ngFor="let tool of tools">{{ tool.name }}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
<hr />
<div>
  <br />

<hr />
<div>
  <br />
  <h4>Currently Following</h4>
  <ul style="list-style: none">
    <li *ngFor="let follow of allFollowers" class="profileLink" (click)="setSelectedUser(follow.username)">
      {{ follow.username }}</li>
  </ul>
</div>

<div>
  <h4>My Followers</h4>
  <ul style="list-style: none">
    <li *ngFor="let follow of allFollowing" class="profileLink" (click)="setSelectedUser(follow.username)">
      {{ follow.username }}</li>
  </ul>
</div>
</div>
</div>
