.posts {
  margin-top: 20px;
}
.create-post{
 text-align: center !important;
}
.deleteLink{
  color: gray;
  text-decoration: underline;
}
.comment-text{
  margin-bottom: 1px;
}
.date-created{
  color: lightgray;
  text-decoration: underline;
  font-size: 12px;
}
.deleteLink-comment{
  font-size: 13px;
  margin-top: 1px !important;
  color: gray;
  text-decoration: underline;
}
.deleteLink-comment:hover{
  color: red;
  cursor: pointer;
}
.commentInput{
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.deleteLink:hover{
  color: red;
  cursor: pointer;
}
.profileLink{
  padding: 1%;
  color: blue;
  text-decoration: underline;
}
.profileLink:hover{
  color: lightblue;
  cursor: pointer;
}

.posts-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.posts-container {
  margin-top: 40px;
  margin: 100px;
  padding: 20px;
  border: solid 1px rgb(0, 0, 0);
}

.post-form-title {
  font-size: 22px;
}
.post-form-subject {
  width: 40%;
  margin-top: 10px;
}
.post-form-textarea {
  width: 40%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.post-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.post-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.post-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.post-form-cancel-button {
  margin-left: 10px;
}

.post {
  display: flex;
  margin-bottom: 28px;
}

.post-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.post-right-part {
  width: 100%;
}

.post-content {
  display: flex;
}

.post-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.post-text {
  font-size: 18px;
}

.post-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.post-action {
  margin-right: 8px;
}

.post-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
body, main {
  margin-inline: auto;
  height: 250vh;
  background-image:
  radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgb(249, 249, 252) 0%,
    rgb(1, 34, 99) 100.2%
  );
}

