<form name="makePost" class="text-center">
  <input
    type="text"
    name="subject"
    placeholder="Subject"
    [(ngModel)]="newPost.subject"
  /><br />
  <textarea
    name="text"
    cols="20"
    rows="5"
    placeholder="Body"
    [(ngModel)]="newPost.text"
  ></textarea
  ><br />
  <button (click)="createNewPost(newPost)">Make Post</button>
</form>
<div *ngFor="let post of posts; let i = index">
  <h3>{{ post.subject }}</h3>
  <blockquote>{{ post.text }}</blockquote>
  <div *ngIf="post.userPost?.id === user?.id || user?.role === 'ADMIN'">
    <button (click)="deletePost(post.id)">Delete Post</button>
  </div>
  <form *ngIf="user">
    <br />
    <input
    type="text"
    name="text"
    placeholder="Comment"
    [(ngModel)]="newPostReplies[i].text"
    /><br />
    <button (click)="createNewComment(newPostReplies[i], post.id)">Comment</button>
  </form>
  <div *ngFor="let comment of post.replies">
    <p>{{ comment.text }}</p>
    <div *ngIf="comment.user?.id === user?.id">
      <button (click)="deleteComment(post.id, comment.id)">Delete Comment</button>
    </div>
  </div>
  <hr />
</div>
