<!-- ********************USER PERSONAL ACCOUNT PAGE******************** -->
<!-- **********NON-INTERACTIVE INFORMATION********** -->
<div>
  <picture>
    <!-- need to know how to reference the database to invoke the default image -->
    <img
      img
      src="{{ user.profileImg }}"
      alt=""
      style="width: auto"
      height="75"
      width="75"
    />
  </picture>
</div>
<div>
  <p>PLACEHOLDER: basic user profile information</p>
  <h6>{{ user.role }}</h6>
  <h6>{{ user.username }}</h6>
  <h6>{{ user.firstName }} {{ user.lastName }}</h6>
</div>
<hr />
<div>
  <h4>PLACEHOLDER: about me section</h4>
  <p>{{ user.aboutMe }}</p>
</div>
<hr />
<!-- ****************REVIEWS SECTION***************** -->
<div *ngIf="user.role === 'MENTOR'">
  <h4>Bootcamp(s) {{ user.username }} has attended.</h4>
  <!-- iterate over the mentors bootcamps array and populate anchors with it -->
  <div *ngFor="let bootcamp of bootcamps" (click)="showReview()">
    {{ bootcamp.name }}

    <div *ngIf="showReviews">
      <p>PLACEHOLDER: Reviews when bootcamp name is clicked</p>
      <!-- iterate over the mentors bootcamps array and populate anchors with it -->
      <ul *ngFor="let review of bootReviews">
        <li (click)="bootcampAdvice(review.id)">{{ review.bootcampReview }}</li>
        <div *ngIf="advice">
          <p (click)="bootcampTools(advice.id)">
            CLick here for tools {{ advice.title }}
          </p>
        </div>
        <div *ngIf="tools">
          <li *ngFor="let tool of tools">{{ tool.name }}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
<hr />
<div>
  <br />
 
<hr />
<div>
  <br />
  <h4>Currently Following</h4>
  <ul>
    <li *ngFor="let follow of allFollowers">{{ follow.username }}</li>
  </ul>
</div>

<div>
  <h4>My Followers</h4>
  <ul>
    <li *ngFor="let follow of allFollowing">{{ follow.username }}</li>
  </ul>
</div>




