
  <div class="contact">
    <br />
    <img
      class="rounded-circle"
      height="250"
      src="https://media-exp1.licdn.com/dms/image/D5603AQFWbTVfupTSTw/profile-displayphoto-shrink_800_800/0/1663177892507?e=1669852800&v=beta&t=YOwR9nP0GfmgMV8aUDmuDCpWuigi3xgWKZL_xFZzxwA"
    />

    <h3>Name: Chad Rousseau - Repo Owner/Developer</h3>
    <a
      href="https://www.linkedin.com/in/chad-rousseau-a48194237/"
      target="_blank"
    >
      <h3>Linkedin</h3>
    </a>
    <br />
    <hr />
    <img
      class="rounded-circle"
      height="250"
      src="https://media-exp1.licdn.com/dms/image/D5603AQHK8llNjbKV0Q/profile-displayphoto-shrink_800_800/0/1664398287849?e=1669852800&v=beta&t=sPtn2t9jfeKQ7EM5S9ggpNh9Cvb4zUNjyfXDfIGqwWY"
    />
    <h3>Name: Austin Borck- Scrum Master/Developer</h3>
    <a href="https://www.linkedin.com/in/austin-borck/" target="_blank">
      <h3>Linkedin</h3>
    </a>
    <br />
    <hr />
    <img
      class="rounded-circle"
      height="250"
      src="https://avatars.githubusercontent.com/u/102421691?s=400&u=ba8659e3809250bb35bf5d0d4035433fbf214359&v=4"
      alt="https://i.pinimg.com/564x/18/b9/ff/18b9ffb2a8a791d50213a9d595c4dd52.jpg"
    />
    <h3>Name: Ken Pederson - DBA/Developer</h3>
    <a href="https://www.linkedin.com/in/pederson131/" target="_blank">
      <h3>Linkedin</h3>
    </a>
  </div>

