<ngb-carousel class="text-center" #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let bootcamp of allBootcamps; index as i">
    <div class="carousel-caption">

    </div>

      <div class="picsum-img-wrapper">
        <img (click)="displayBootcamp(bootcamp)" height="250px"[src]="bootcamp.imageUrl" alt="My image {{i + 1}} description">
      </div>

  </ng-template>
</ngb-carousel>

<hr>

<div *ngIf="!selectedBootcamp">
<p>This is a website for mentorship</p>
</div>

<div *ngIf="selectedBootcamp">

<a href="{{selectedBootcamp.website}}" target="_blank">
<h1 class="text-center" >{{selectedBootcamp.name}}</h1>

</a>
<!-- <h1>About:</h1> -->
<blockquote>{{selectedBootcamp.description}}</blockquote>
<button (click)="selectedBootcamp = null">Back</button>
</div>



<!-- Form to control carousel, not needed for functionality -->

<!-- <div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
  <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus">
  <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
  <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
  <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
  {{paused ? 'Cycle' : 'Pause' }}
</button>

Slide 7 of 7
My slide 7 title
My image 7 description

Previous -->
